 <h1><%= @user.name %></h1><br><br>

<h3>Created Events:</h3>

<% @user.created_events.each do |event| %>
  <h4><%= link_to event.description, event %><h4>
  <p class="small"><%= event.event_date %></p><br>
<% end %>
<br><br>

<h3>Upcoming Events:</h3>

<% @upcoming_events.each do |event| %>
  <h4><%= link_to event.description, event %><h4>
  <p class="small"><%= event.event_date %></p><br>
<% end %>
<br>

<h3>Previously Attended Events:</h3>

<% @prev_events.each do |event| %>
  <h4><%= link_to event.description, event %><h4>
  <p class="small"><%= event.event_date %></p><br>
<% end %>